.slug-32x32{ width:32px; height:32px; float:left; background:url(../images/slugs32x32.png?v=2015) no-repeat;}
.slug-32x32atletico-mg{ background-position:0px 0px;}
.slug-32x32atletico-pr{ background-position:-32px 0px;}
.slug-32x32bahia{ background-position:-64px 0px;}
.slug-32x32botafogo{ background-position:-96px 0px;}
.slug-32x32chapecoense{ background-position:-128px 0px;}
.slug-32x32corinthians{ background-position:-160px 0px;}
.slug-32x32coritiba{ background-position:-192px 0px;}
.slug-32x32criciuma{ background-position:-224px 0px;}
.slug-32x32cruzeiro{ background-position:-256px 0px;}
.slug-32x32figueirense{ background-position:-288px 0px;}
.slug-32x32flamengo{ background-position:-320px 0px;}
.slug-32x32fluminense{ background-position:-352px 0px;}
.slug-32x32goias{ background-position:-384px 0px;}
.slug-32x32gremio{ background-position:-416px 0px;}
.slug-32x32internacional{ background-position:-448px 0px;}
.slug-32x32palmeiras{ background-position:-480px 0px;}
.slug-32x32santos{ background-position:-512px 0px;}
.slug-32x32sao-paulo{ background-position:-544px 0px;}
.slug-32x32sport{ background-position:-576px 0px;}
.slug-32x32vitoria{ background-position:-608px 0px;}
.slug-32x32ponte-preta{ background-position:-640px 0px;}
.slug-32x32avai{ background-position:-672px 0px;}
.slug-32x32vasco{ background-position:-704px 0px;}
.slug-32x32joinville{ background-position:-736px 0px;}

.slug-65x65{ width:65px; height:65px; float:left; background:url(../images/slugs65x65.png?v=2015) no-repeat;}
.slug-65x65atletico-mg{ background-position:0px 0px;}
.slug-65x65atletico-pr{ background-position:-65px 0px;}
.slug-65x65bahia{ background-position:-130px 0px;}
.slug-65x65botafogo{ background-position:-195px 0px;}
.slug-65x65chapecoense{ background-position:-260px 0px;}
.slug-65x65corinthians{ background-position:-325px 0px;}
.slug-65x65coritiba{ background-position:-390px 0px;}
.slug-65x65criciuma{ background-position:-455px 0px;}
.slug-65x65cruzeiro{ background-position:-520px 0px;}
.slug-65x65figueirense{ background-position:-585px 0px;}
.slug-65x65flamengo{ background-position:-650px 0px;}
.slug-65x65fluminense{ background-position:-715px 0px;}
.slug-65x65goias{ background-position:-780px 0px;}
.slug-65x65gremio{ background-position:-845px 0px;}
.slug-65x65internacional{ background-position:-910px 0px;}
.slug-65x65palmeiras{ background-position:-975px 0px;}
.slug-65x65santos{ background-position:-1040px 0px;}
.slug-65x65sao-paulo{ background-position:-1105px 0px;}
.slug-65x65sport{ background-position:-1170px 0px;}
.slug-65x65vitoria{ background-position:-1235px 0px;}
.slug-65x65ponte-preta{ background-position:-1300px 0px;}
.slug-65x65avai{ background-position:-1365px 0px;}
.slug-65x65vasco{ background-position:-1430px 0px;}
.slug-65x65joinville{ background-position:-1495px 0px;}